<header>
    <h1>
        <img src="/assets/logo.png" alt="logo image"/>
    </h1>
</header>

<style>
    header {
        background: #eee;
    }

    h1 {
        margin: 0;
        padding: 0;
        text-align: center;    
    }

    img {
        max-height: 150px;
    }
</style>