<script>
    import PollStore from '../store/PollStore.js'
    import PollDetails from './PollDetails.svelte';
</script>

<div class="poll-list">
    {#each $PollStore as poll (poll.id)}
        <div>
            <PollDetails poll={poll} />
        </div>
    {/each}
</div>

<style>
    .poll-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
</style>