<script>
	import Header from './components/Header.svelte';
	import Footer from './components/Footer.svelte';
	import CreatePollForm from './components/CreatePollForm.svelte';
	import PollList from './components/PollList.svelte';
	import Tabs from './shared/Tabs.svelte';

	//tabs
	let items = ['Current Polls', 'Add New Poll'];
	let activeItem = 'Current Polls';

	const tabChange = (e) => {
		activeItem = e.detail;
	};

	const handleAdd = () => {
		activeItem = 'Current Polls';
	};
</script>

<div class="page">
	<Header />
	<main>
		<Tabs items={items} activeItem={activeItem} on:tabChange={tabChange}/>
		{#if activeItem === 'Current Polls'}
			<PollList />
		{:else if activeItem === 'Add New Poll'}
			<CreatePollForm on:add={handleAdd} />
		{/if}
	</main>
</div>
<Footer />

<style>
	main {
		max-width: 960px;
		margin: 40px auto;
		margin-bottom: 0;
		padding-bottom: 140px;
	}

	.page {
		min-height: 100%;
		margin-bottom: -140px;
	}
</style>